*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: clamp(40%, 1vw, 62.5%);
  overflow-x: hidden;

  /* Colors */
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue-black: hsl(234, 17%, 12%);
}

body {
  background-color: #1e1e28;
  background-image: url("../images/bg-stars.svg   ");

  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  color: var(--White);
  height: 100vh;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.hills {
  max-width: 100%;
  min-width: 1300px;
  max-height: 26rem;

  flex: 1;
  margin-top: auto;
}

.conteiner {
  margin-inline: 2.4rem;
  /* background: black; */
  flex: 1;

  display: grid;
  place-items: center;
}

.content {
  min-width: 100%;
  max-width: max-content;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 6.4rem;
}

.time-box {
  display: flex;
  flex-wrap: wrap;

  gap: 2.4rem;
  text-align: center;
  color: var(--Soft-red);

  justify-content: center;

  width: 100%;
}

.box {
  position: relative;
}
.number-box {
  overflow: hidden;
  border-radius: 9px;
  display: grid;
  place-items: center;

  font-size: 6.4rem;
  position: relative;

  width: 12rem;
  aspect-ratio: 1;

  margin-bottom: 2.4rem;
  box-shadow: 0px 10px 0px 0px #1a1a23;
}

.time {
  font-size: 1.2rem;
  letter-spacing: 6px;
}

.number-box::before,
.number-box::after {
  content: "";
  position: absolute;

  width: 100%;
  height: 50%;
  z-index: -1;
}

.number-box::before {
  background: #2c2c44;
  top: 0;
}
.number-box::after {
  background: #34364f;
  bottom: 0;
}

.dot {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--Very-dark-blue-black);

  width: 1rem;

  top: 50%;
}

.dot-left {
  left: 0;
  transform: translate(-50%, -50%);
}
.dot-right {
  right: 0;
  transform: translate(50%, -50%);
}

.social-media {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

.social-media ul {
  list-style-type: none;
  display: flex;
  gap: 3.2rem;
}

.social-media img {
  width: 3.2rem;
}

.social-media a:hover img {
  filter: brightness(0.8);
}